@font-face {
    font-family: HarryP;
    src: url(./assets/fonts/HARRYP__.TTF);
}
@font-face {
    font-family: HPDingbats;
    src: url(./assets/fonts/harry_potter_and_the_dingbat_font.TTF);
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}


header {
    padding: 1rem;
    justify-self: center;
    justify-items: center;
    width: 100%;

    background-image: 
        conic-gradient(hsl(0 0% 100% / .3) 0 0),
        url(./assets/images/wizard-tavern.png);
    background-position: bottom;
}
header > h1 {
    font-size: 5rem;
    font-family: HarryP;
}
header > h4 {
    font-family: HarryP;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
nav {
    display: flex;
    width: 50%;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-between;
}
nav > button {
    user-select: none;
    cursor: pointer;
    align-self: center;
    font-size: 1.15rem;
    max-height: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
}
.cauldron {
    user-select: none;
    width: 2.75rem;
    transform: rotate(3deg);
}





main {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: .5rem;

    padding: 1rem;
    min-height: 1fr;
    background-color: rgba(82, 80, 85, 1);
}
main > * {
    grid-column: 2;
}
main > h2 {
    font-family: HarryP;
    font-size: 3rem;
    letter-spacing: .25rem;
}
main > p {
    padding: 1rem;
    text-align: justify;
}
.home-header {
    grid-column: 1 / -1;
    text-align: center;
}
.home-header-2 {
    text-align: center;
    font-size: 1.5rem;
}
.food-img {
    grid-column: 1;
    width: 10rem;
}
.food-info {
    grid-column: 2;
    align-self: center;
    padding: .25rem;
    height: 10rem;
}
.food-info > h2 {
    font-family: HarryP;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: .5rem;
}
.food-price {
    grid-column: 3;
}
.credit {
    grid-column: 2;
    text-align: left;
}



footer {
    background-color: #333;
    color: white;
    font-family: HarryP;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    padding-top: .15rem;
}
.foot {
    user-select:  none;
    background-color: #444;
    font-family: HPDingbats;
    font-size: 1.75rem;
    text-align: center;
    color: black;
}