@font-face {
    font-family: HarryP;
    src: url(./assets/fonts/HARRYP__.TTF);
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}



header {
    padding: 1rem;
    justify-self: center;
    justify-items: center;
    width: 100%;

    background-image: 
        conic-gradient(hsl(0 0% 100% / .3) 0 0),
        url(./assets/images/wizard-tavern.png);
    background-position: bottom;
}
header > h1 {
    font-size: 5rem;
    font-family: HarryP;
}
nav {
    display: flex;
    width: 50%;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-between;
}
nav > button {
    align-self: center;
    font-size: 1.15rem;
    max-height: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
}

main {
    display: grid;
    grid-template-columns: 25% 1fr 25%;

    padding: 1rem;
    min-height: 10rem;
    background-color: rgba(82, 80, 85, 1);
}
main > * {
    grid-column: 2;
}
main > h2 {
    font-family: HarryP;
    font-size: 3rem;
    letter-spacing: .25rem;
}
main > p {
    padding: 1rem;
    text-align: justify;
}


.cauldron {
    width: 2.75rem;
    transform: rotate(3deg);
}